@import "../../style.css";

.about {
  width: 100%;
  min-height: 100vh;
  background-color: var(--aboutBg);
  color: var(--blogTextColor);
  font-family: var(--blogFont);
  overflow: hidden;
}

.about .about-container {
  padding-top: 120px;
  position: relative;
}

.about .about-container .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.about .about-container .avatar .introduce {
  text-align: center;
}

.about .about-container .progress-data {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .about-container .progress-data .ant-progress {
  stroke: #89a27e;
}

.about .about-container .progress-data .ant-progress-text {
  color: var(--blogTextColor);
}

.about .about-container .progress-data .ant-row {
  margin: 15px 10%;
}

.about .about-container .progress-data .row .ant-col {
  gap: 100px;
  width: 50px;
  text-align: center;
  bottom: 100px;
}

.about .about-container .progress-data .ant-row .ant-col-sm-1 {
  max-width: 16%;
  margin-left: 10px;
}

.about .about-container .about-record {
  display: flex;
  flex-wrap: wrap !important;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  gap: 5rem;
}

.about .about-container .about-record .about-record-item {
  flex: 1;
}

.about .about-container .about-record .ant-card {
  min-width: 40vw;
  position: relative;
  text-align: center;
  transition: all 0.3s ease-in-out;
  font-family: var(--blogFont);
  font-size: 1rem;
  background-color: rgb(var(--aboutCardShadow), 0.2);
  color: var(--blogTextColor);
  transform: translateY(-5px);
  box-shadow: 0 5px 20px var(--aboutCardShadow);
}

.about .about-container .about-record .ant-card:hover {
  transform: translateY(0);
  box-shadow: 0 0 0 var(--aboutCardShadow);
}

.about .about-container .about-record .ant-card-head {
  color: var(--blogTextColor);
}

.about .about-container .about-record .ant-card-body {
  height: 200px;
}