@import "../../style.scss";


.blog {
  background-color: $blogBg;
  padding-top: 8%;

  .blog-container {
    //max-width: 1200px;
    //box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
    width: 80%;
    margin: 0 10%;
  }

  .blog-wrap {
    margin: 0 auto;
    color: $blogTextColor;
  }

  .blog-goBack {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: block;
  }

  .blog-wrap header {
    text-align: center;
  }

  .markdown-body {
    padding: 80px 0;
    line-height: 2.6;
    background-color: $blogBg;
    color: $blogTextColor;
    font-family: $blogFont;
  }

  // 表格
  .markdown-body table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    display: table;
    font-size: 14px;
  }

  .blog-date {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .blog-wrap img {
    width: 100%;
  }

  .blog-subCategory {
    display: flex;
    justify-content: center;
  }

  .blog-subCategory > div {
    margin: 1rem;
  }

  .blog-desc {
    padding: 1rem;
    margin-top: 1.5rem;
  }

  .markdown-body table tr {
    background-color: $blogBg;
    border-top: 1px solid $blogTableBorder;
  }

  .markdown-body table tr:nth-child(2n) {
    background-color: $blogBg;
    border-top: 1px solid $blogTableBorder;
  }

  .markdown-body table th, .markdown-body table td {
    padding: 6px 13px;
    border: 1px solid $blogTableBorder;
  }

  .markdown-body .highlight pre, .markdown-body pre {
    padding: 0 0.5em;
    overflow: auto;
    font-size: 85%;
    border-radius: 6px;
    background-color: $blogCodePadding;
  }

  // 代码块
  .code-wrapper {
    position: relative;

    ::-webkit-scrollbar {
      width: 8px;
      height: 5px;
    }

    /* 设置滚动条轨道的背景颜色 */
    ::-webkit-scrollbar-track {
      //background-color: #f5f5f5;
    }

    /* 设置滚动条滑块的背景颜色 */
    ::-webkit-scrollbar-thumb {
      background-color: $blogCodeThumb;
      width: 5px;
    }


    /* 设置滚动条滑块的圆角 */
    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
    }
  }

  // 复制按钮
  .code-wrapper:hover .copy-btn {
    display: block;
  }

  .copy-btn {
    display: none;
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    font-size: 0.6rem;
    padding: 2px 4px;
    background-color: $blogCopyBg;
    color: $blogCopyColor;
    border-radius: 5px;
    user-select: none;
    transition: all 0.3s ease;
  }

  .copy-btn:hover {
    background-color: $blogCopyHover;
    color: $blogCopyHover-color;
  }

}
