@import "../../style.css";


.blog {
    background-color: var(--blogBg);
}

.blog .blog-container {
    /* max-width: 1200px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7); */
    width: 50%;
    margin: 0 auto;
    background-color: #313131;
}

.blog .blog-wrap {
    margin: 0 auto;
    color: var(--blogTextColor);
}

.blog .blog-goBack {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: block;
}

.blog .blog-wrap header {
    text-align: center;
}

.blog-cover {
    margin-bottom: 2rem;
}

.blog-cover img {
    object-fit: cover;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
}

.blog .markdown-body {
    padding: 2rem 2rem;
    line-height: 2.6;
    background-color: #313131;
    color: var(--blogTextColor);
    font-family: var(--zhuziawan);
}

/* Table */
.blog .markdown-body table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    display: table;
    font-size: 14px;
}

.blog .blog-date {
    font-size: 0.8rem;
    font-weight: 500;
}

.blog .blog-subCategory {
    display: flex;
    justify-content: center;
}

.blog .blog-subCategory > div {
    margin: 1rem;
}

.blog .blog-desc {
    padding: 1rem;
    margin-top: 1.5rem;
}

.markdown-body table {

}

.markdown-body table tr {
    background-color: #313131 !important;
    border-top: 1px solid var(--blogTableBorder);
}

.markdown-body table tr:nth-child(2n) {
    background-color: #313131 !important;
    border-top: 1px solid var(--blogTableBorder);
}

.markdown-body table th,
.markdown-body table td {
    padding: 6px 13px;
    border: 1px solid var(--blogTableBorder);
}

.markdown-body .highlight pre,
.markdown-body pre {
    padding: 0 !important;
    overflow: auto;
    background-color: rgb(0,0,0,0) !important;
}

.markdown-body .code {
    background-color: var(--blogBg) !important;
    margin: 0 !important;
}

/* Code block */
.markdown-body .code::-webkit-scrollbar {
    height: 8px;
}

.markdown-body .code::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;
}

.markdown-body .code::-webkit-scrollbar-track {
    /* Add styles to the scrollbar track */
    background-color: var(--blogBg);
}

.blog .code-wrapper:hover .copy-btn {
    display: block;
}

.blog .copy-btn {
    display: none;
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    font-size: 0.6rem;
    padding: 2px 4px;
    background-color: var(--blogCopyBg);
    color: var(--blogCopyColor);
    border-radius: 5px;
    user-select: none;
    transition: all 0.3s ease;
}

.blog .copy-btn:hover {
    background-color: var(--blogCopyHover);
    color: var(--blogCopyHover-color);
}

@media (max-width: 767px) {
    .blog .blog-container {
        width: 100%;
    }
}