@import "../../style.css";


.blog {
    background-color: var(--black-1b);
    padding: 5rem 0 3rem 0;
}

.blog-container {
    /* max-width: 1200px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7); */
    width: 50%;
    min-height: 100vh;
    margin: 0 auto 0 15%;
    padding: 1rem;
    background-color: var(--black-31);
    box-shadow: 0 0 3px 1px var(--white-219-60);
    border-radius: 1rem;

    position: relative;
}

.blog .blog-wrap {
    margin: 0 auto;
    color: var(--white);
}

.blog .blog-goBack {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: block;
}

.blog .blog-wrap header {
    text-align: center;
}

.blog-cover {
    margin-bottom: 2rem;
}

.blog-cover img {
    object-fit: cover;
    width: 100%;
    border-radius: 1rem;
}

.blog .markdown-body {
    padding: 2rem 2rem;
    line-height: 2.6;
    background-color: var(--black-31);
    color: var(--white);
    font-family: var(--zhuziawan);
}

.blog .blog-date {
    font-size: 0.8rem;
    font-weight: 500;
}

.blog .blog-subCategory {
    display: flex;
    justify-content: center;
}

.blog .blog-subCategory > div {
    margin: 1rem;
}

.blog .blog-desc {
    padding: 1rem;
    margin-top: 1.5rem;
}

.markdown-body table {

}

.markdown-body table tr {
    background-color: var(--black-31) !important;
    border-top: 1px solid var(--white);
}

.markdown-body table tr:nth-child(2n) {
    background-color: var(--black-31) !important;
    border-top: 1px solid var(--white);
}

.markdown-body table th,
.markdown-body table td {
    padding: 6px 13px;
    border: 1px solid var(--white);
}

.markdown-body .highlight pre,
.markdown-body pre {
    padding: 0 !important;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0) !important;
}

.markdown-body .code {
    /*background-color: var(--black-31) !important;*/
    margin: 0 !important;
}

/* Code block */
.markdown-body .code::-webkit-scrollbar {
    height: 8px;
}

.markdown-body .code::-webkit-scrollbar-thumb {
    background-color: var(--white-219-60);
    border-radius: 2px;
}

.markdown-body .code::-webkit-scrollbar-track {
    /* Add styles to the scrollbar track */
    background-color: var(--black-31);
}

.blog .code-wrapper:hover .copy-btn {
    display: block;
}

.blog .code-wrapper {
    position: relative;
}

.blog .copy-btn {
    display: none;
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    font-size: 0.6rem;
    padding: 2px 4px;
    background-color: var(--black-31);
    color: var(--white);
    border-radius: 5px;
    user-select: none;
    transition: all 0.3s ease;
}

.blog .copy-btn:hover {
    background-color: var(--white);
    color: var(--black-1b);
}

.blog #waline {
    width: 95% !important;
}

@media (max-width: 767px) {
    .blog-container {
        width: 96%;
        margin: auto;
    }

    .blog-markdown-toc {
        display: none;
        visibility: hidden;
    }
}


.blog-markdown-toc {
    position: fixed;
    top: 5rem;
    right: 15%;
    padding: 0 2rem;
    width: 18%;
    height: calc(100vh - 10rem);
    margin-left: 2%;
    overflow: scroll;
}

/* 隐藏滚动条轨道样式 */
.blog-markdown-toc::-webkit-scrollbar {
    width: 0; /* 设置滚动条宽度为0 */
    background-color: transparent; /* 设置背景颜色为透明 */
}

.blog-markdown-toc::-webkit-scrollbar-thumb {
    background-color: transparent; /* 设置滚动条拇指颜色为透明 */
}

.blog-markdown-toc-container {
    background-color: transparent;
    text-align: left;
}

.markdown-navigation .title-anchor {
    display: block;
    color: #bbb;
    transition: all 0.2s;
    margin: 0.8em 0;
    font-weight: lighter;
    line-height: 2em;
    padding-right: 1.8em;
    cursor: pointer;
}

.markdown-navigation .title-anchor:hover {
    color: #007fff;
}

.markdown-navigation .title-anchor small {
    margin: 0 0.8em;
}

.markdown-navigation .title-level1 {
    color: var(--white);
    font-size: 1.2em;
    padding-left: 1em;
    font-weight: normal;
}

.markdown-navigation .title-level2 {
    color: var(--white);
    font-size: 1.1em;
    padding-left: 1.5em;
    font-weight: normal;
}

.markdown-navigation .title-level3 {
    color: var(--white);
    font-size: 1em;
    padding-left: 3em;
    font-weight: normal;
}

.markdown-navigation .title-level4 {
    color: var(--white-219-60);
    font-size: 0.9em;
    padding-left: 5em;
}

.markdown-navigation .title-level5 {
    color: var(--white-219-60);
    font-size: 0.9em;
    padding-left: 6.5em;
}

.markdown-navigation .title-level6 {
    color: var(--white-219-60);
    font-size: 0.9em;
    padding-left: 8em;
}
