@import "../../style.css";

.message {
    background-color: var(--black-1b);
    color: var(--white);
    font-family: var(--zhuziawan);
}

.message-container {
    min-height: 100vh;
    padding: var(--padding-td) var(--padding-lr);
}

.message header {
    text-align: center;
    padding-bottom: var(--padding-td);
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-animation {
    width: 10rem;
}

.message-waline-body {

}