@import "../../../style.css";


.navigation {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.navigation-container {
    overflow: hidden;
    width: calc(100vw - 200px);
}

.navigation-body {
    padding: 2rem;
}

.navigation-title {
    font-size: 18px;
    position: relative;
    color: var(--white);
}

.navigation-body-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 0 auto;
}


.navigation-body-item .ant-card {
    /*margin: 15px 15px 0 15px;*/
    /*animation-name: slideInUp;*/
    /*animation-duration: 0.5s;*/
    /*animation-timing-function: ease-out;*/
    /*animation-fill-mode: both;*/
    transition: transform 0.5s;
}

/*缩放效果*/
.navigation-body-item .ant-card:hover {
    transform: scale(1.05);
}

/*上滑效果*/
@keyframes slideInUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}


.navigation-body-card-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

@media screen and (max-width: 1500px) {
    .navigation-body-item {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 990px) {
    .navigation-container {
        width: 100vw;
    }

    .navigation-body-item {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .navigation-body-item {
        grid-template-columns: repeat(1, 1fr);
    }
}