@import "../../style.scss";

.footer {
  width: 100%;
  background: $navBg;
  text-align: center;
  color: $navColor;
  padding: 2% 0;
  font-size: 80%;

  .footer-container {

    .footer-ul-1 ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 45px;
      padding: 0;
      list-style: none;
      margin: 0;
    }

    .footer-ul-1 ul li a {
      border-radius: 10px;
      background-color: $loginIconBg;
      box-shadow: $loginIconShadow 1px 10px 20px -5px;
      transition: all .3s ease-out;
    }

    p {
      margin: 0;
      font-size: 80%;
    }
  }


}