// font
$selectFontFamily: 'Noto Sans SC', sans-serif;
$blogFont: "blog-font-1", sans-serif;
// spacing
$spacing-md: 16px;
$spacing-lg: 32px;
// border radius
$borderRadius: 12px;

// colors
$loginColor: #ffffff;
$loginBg: #ffffff;
$loginInputBg: #FFFFFF;
$loginInputButton: #9398b3;
$loginIconBg: #252424FF;
$loginIconShadow: #9398b3;
$loginGoRegister: #9398b3;
$loginGoRegister-hover: #FFFFFF;
$loginGradientLeft: #19245b;
$loginGradientMiddle: #f64f59;
$loginGradientRight: #f64f59;
$loginFormPlaceholder: #adabab;
$loginOtherLogin: #FFFFFF;
$loginOtherLogin-hover: #FFFFFF;
$retrieveThePassword: #FFFFFF;
$navBg: #252424FF;
$navColor: #FFFFFF;
$navColoumn: rgb(37, 36, 36);
$navButtonBg: #9398b3;
$navBorderColor: #9398b3;
$navButtonHover: #000000;
$blogTextColor: #FFFFFF;
$blogBg: #393E46;
$blogCodePadding: #2a2c2f;
$blogCodeThumb: #393E46;
$blogCopyBg: #2a2c2f;
$blogCopyColor: #ffffff;
$blogTableBorder: #FFFFFF;
$blogCopyHover: #FFFFFF;
$blogCopyHover-color: #000000;
$footerBg: #ffffff;
$aboutCardShadow: #9398b3;
$suspensionBg: #FFFFFF;
$suspensionShadowColor: #babbbc;
//$suspensionContentBefore: #e9f3e6;
$suspensionContentBefore: rgba(136, 160, 125, 0.63);
$suspensionButtonColor: #000000;
$suspensionButtonBg: rgb(255, 255, 255, 0);


@media (prefers-color-scheme: dark) {
  // colors
  $loginColor: #ffffff;
  $loginBg: #252424FF;
  $loginInputBg: #FFFFFF;
  $loginInputButton: #9398b3;
  $loginIconBg: #252424FF;
  $loginIconShadow: #9398b3;
  $loginGoRegister: #9398b3;
  $loginGoRegister-hover: #FFFFFF;
  $loginGradientLeft: #19245b;
  $loginGradientMiddle: #f64f59;
  $loginGradientRight: #f64f59;
  $loginFormPlaceholder: #adabab;
  $loginOtherLogin: #FFFFFF;
  $loginOtherLogin-hover: #FFFFFF;
  $retrieveThePassword: #FFFFFF;
  $navBg: #252424FF;
  $navColor: #FFFFFF;
  $navColoumn: rgb(37, 36, 36);
  $navButtonBg: #9398b3;
  $navBorderColor: #9398b3;
  $navButtonHover: #000000;
  $blogTextColor: #FFFFFF;
  $blogBg: #393E46;
  $blogCodePadding: #2a2c2f;
  $blogCodeThumb: #393E46;
  $blogCopyBg: #2a2c2f;
  $blogCopyColor: #ffffff;
  $blogTableBorder: #FFFFFF;
  $blogCopyHover: #FFFFFF;
  $blogCopyHover-color: #000000;
  $footerBg: #ffffff;
  $aboutCardShadow: #9398b3;
  $suspensionBg: #FFFFFF;
  $suspensionShadowColor: #babbbc;
  //$suspensionContentBefore: #e9f3e6;
  $suspensionContentBefore: rgba(136, 160, 125, 0.63);
  $suspensionButtonColor: #000000;
  $suspensionButtonBg: rgb(255, 255, 255, 0);
}

$use-light-theme: true;

@if $use-light-theme {
  // 使用浅色主题
  $loginBg: #000000;
}

@font-face {
  font-family: "blog-font-1";
  font-weight: 400;
  src: url("assets/font/blog-font-1.ttf");
  font-display: swap;
}

@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (min-width: 48em) {
      @content;
    }
  }
}

//一键置为灰色
//html {
//  filter: grayscale(100%);
//}

body {
  margin: 0;
}

.app {
  .container {

  }
}
