:root {
    --loginColor: #ffffff;
    --loginBg: #252323FF;
    --loginInputBg: #FFFFFF;
    --loginInputButton: #9398b3;
    --loginIconBg: #252424FF;
    --loginIconShadow: #9398b3;
    --loginGoRegister: #9398b3;
    --loginGoRegister-hover: #FFFFFF;
    --loginGradientLeft: #19245b;
    --loginGradientMiddle: #f64f59;
    --loginGradientRight: #f64f59;
    --loginFormPlaceholder: #adabab;
    --loginOtherLogin: #FFFFFF;
    --loginOtherLogin-hover: #FFFFFF;
    --retrieveThePassword: #FFFFFF;
    --navBg: #252424FF;
    --navBg-80: rgb(37, 36, 36, 0);
    --navColor: #FFFFFF;
    --navColoumn: rgb(37, 36, 36);
    --navButtonBg: #9398b3;
    --navBorderColor: #9398b3;
    --navButtonHover: #000000;
    --blogTextColor: #FFFFFF;
    --blogBg: #222222;
    --blogCodePadding: #2a2c2f;
    --blogCodeThumb: #393E46;
    --blogCopyBg: #2a2c2f;
    --blogCopyColor: #ffffff;
    --blogTableBorder: #FFFFFF;
    --blogCopyHover: #FFFFFF;
    --blogCopyHover-color: #000000;
    --footerBg: #ffffff;
    --aboutCardShadow: #9398b3;
    --aboutBg: #222222;
    --suspensionBg: #FFFFFF;
    --suspensionShadowColor: #babbbc;
    --suspensionContentBefore: rgba(136, 160, 125, 0.63);
    --suspensionButtonColor: #000000;
    --suspensionButtonBg: rgb(255, 255, 255, 0);

    --home-color: #000000;
    --home-a-color: #2192d3;
    --home-images-color1: #8baaaa;
    --home-images-color2: #ae8b9c;


    --selectFontFamily: 'Noto Sans SC', sans-serif;
    --blogFont: "blog-font-1", sans-serif;
    --zhuziawan: "zhuziawan", sans-serif;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --borderRadius: 12px;


    --black-1b: #1b1b1b;
    --black-22: #222222;
    --black-2b: #2b2b2b;
    --black-31: #313131;
    --shadow-80: hsla(0, 100%, 100%, 0.8);
    --white: #FFFFFF;



    --line-height: 2;
}

.dark-mode {
    --loginColor: #ffffff;
    --loginBg: #252323FF;
    --loginInputBg: #FFFFFF;
    --loginInputButton: #9398b3;
    --loginIconBg: #252424FF;
    --loginIconShadow: #9398b3;
    --loginGoRegister: #9398b3;
    --loginGoRegister-hover: #FFFFFF;
    --loginGradientLeft: #19245b;
    --loginGradientMiddle: #f64f59;
    --loginGradientRight: #f64f59;
    --loginFormPlaceholder: #adabab;
    --loginOtherLogin: #FFFFFF;
    --loginOtherLogin-hover: #FFFFFF;
    --retrieveThePassword: #FFFFFF;
    --navBg: #252424FF;
    --navBg-80: rgb(37, 36, 36, 0.8);
    --navColor: #FFFFFF;
    --navColoumn: rgb(37, 36, 36);
    --navButtonBg: #9398b3;
    --navBorderColor: #9398b3;
    --navButtonHover: #000000;
    --blogTextColor: #FFFFFF;
    --blogBg: #393E46;
    --blogCodePadding: #2a2c2f;
    --blogCodeThumb: #393E46;
    --blogCopyBg: #2a2c2f;
    --blogCopyColor: #ffffff;
    --blogTableBorder: #FFFFFF;
    --blogCopyHover: #FFFFFF;
    --blogCopyHover-color: #000000;
    --footerBg: #ffffff;
    --aboutCardShadow: #9398b3;
    --suspensionBg: #FFFFFF;
    --suspensionShadowColor: #babbbc;
    --suspensionContentBefore: rgba(136, 160, 125, 0.63);
    --suspensionButtonColor: #000000;
    --suspensionButtonBg: rgb(255, 255, 255, 0);

    --home-color: #000000;
    --home-a-color: #2192d3;
    --home-images-color1: #8baaaa;
    --home-images-color2: #ae8b9c;


    --selectFontFamily: 'Noto Sans SC', sans-serif;
    --blogFont: "blog-font-1", sans-serif;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --borderRadius: 12px;
}


@media (prefers-color-scheme: dark) {
    :root {
        --loginColor: #ffffff;
        --loginBg: #252323FF;
        --loginInputBg: #FFFFFF;
        --loginInputButton: #9398b3;
        --loginIconBg: #252424FF;
        --loginIconShadow: #9398b3;
        --loginGoRegister: #9398b3;
        --loginGoRegister-hover: #FFFFFF;
        --loginGradientLeft: #19245b;
        --loginGradientMiddle: #f64f59;
        --loginGradientRight: #f64f59;
        --loginFormPlaceholder: #adabab;
        --loginOtherLogin: #FFFFFF;
        --loginOtherLogin-hover: #FFFFFF;
        --retrieveThePassword: #FFFFFF;
        --navBg: #252424FF;
        --navBg-80: rgb(37, 36, 36, 0.8);
        --navColor: #FFFFFF;
        --navColoumn: rgb(37, 36, 36);
        --navButtonBg: #9398b3;
        --navBorderColor: #9398b3;
        --navButtonHover: #000000;
        --blogTextColor: #FFFFFF;
        --blogBg: #393E46;
        --blogCodePadding: #2a2c2f;
        --blogCodeThumb: #393E46;
        --blogCopyBg: #2a2c2f;
        --blogCopyColor: #ffffff;
        --blogTableBorder: #FFFFFF;
        --blogCopyHover: #FFFFFF;
        --blogCopyHover-color: #000000;
        --footerBg: #ffffff;
        --aboutCardShadow: #9398b3;
        --suspensionBg: #FFFFFF;
        --suspensionShadowColor: #babbbc;
        --suspensionContentBefore: rgba(136, 160, 125, 0.63);
        --suspensionButtonColor: #000000;
        --suspensionButtonBg: rgb(255, 255, 255, 0);

        --home-color: #000000;
        --home-a-color: #2192d3;
        --home-images-color1: #8baaaa;
        --home-images-color2: #ae8b9c;


        --selectFontFamily: 'Noto Sans SC', sans-serif;
        --blogFont: "blog-font-1", sans-serif;
        --spacing-md: 16px;
        --spacing-lg: 32px;
        --borderRadius: 12px;
    }
}

@font-face {
    font-family: "blog-font-1";
    font-weight: 400;
    src: url("assets/font/blog-font-1.ttf");
    font-display: swap;
}

@font-face {
    font-family: "zhuziawan";
    font-weight: 400;
    src: url("assets/font/zhuziawan.ttc");
    font-display: swap;
}


/*一键置为灰色*/
/*html {*/
/*  filter: grayscale(100%);*/
/*}*/

body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.app {

}

.container {

}