.chat {
    height: 100vh;
    width: 100%;
}

.chat > p {
    font-size: 36px;
    position: relative;
    left: 1%;
    color: white;
}

.chat-body {
    background-color: white;
    width: calc((100vw - 200px) * 0.98);
    height: calc((100vh - 120px) * 0.98);
    position: relative;
    left: 1%;
    z-index: 1;
    border-radius: 20px;
    overflow: auto;
    background-image: url("https://images.huangrx.cn/uploads/2023/04/29/1682698755763.png");
    object-fit: contain;
}

.chat-body-messages {
    position: relative;
    width: 90%;
    top: 5%;
    bottom: 5%;
    left: 5%;
}

.chat-body-space {
    position: absolute;
    width: calc((100vw - 200px) * 0.8);
    bottom: 5%;
    left: 10%;
    z-index: 2;
}

.chat-body-space .ant-space-compact {
    height: 5vh;
    width: 100%;
}

.chat-body-space .ant-space-item {
    width: 100%;
}

.chat-body-space .ant-input {
    height: 5vh;
    width: 90%;
    border-right: none;
}

.chat-body-space .ant-btn {
    height: 5vh;
    width: 10%;
    border: 1px solid #d9d9d9;
    border-left: none;
}

.chat-body-space:hover .ant-input {
    border-color: #6c86c2;
}

.chat-body-space:hover .ant-btn {
    border-color: #6c86c2;
}

.chat-body-space .ant-btn:active {
    box-shadow: none !important;
}

@media screen and (max-width: 990px) {
    .chat-body {
        width: 98%;
    }
    .chat-body-space {
        width: 80%;
    }
}
